* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v204_253 {
  width: 100%;
  height: 810px;
  background: url("../images/v204_253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v204_255 {
  width: 100%;
  height: 800px;
  background: url("../images/v204_255.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.v204_256 {
  width: 100%;
  height: 74px;
  background: rgba(251,227,232,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  box-shadow: 0px 12px 26px rgba(0.8041666746139526, 0.8041666746139526, 0.8041666746139526, 0.2199999988079071);
  overflow: hidden;
}
.v204_257 {
  width: 213px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 21px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v204_258 {
  width: 35px;
  height: 35px;
  background: url("../images/v204_258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 266px;
  overflow: hidden;
}
.v204_259 {
  width: 35px;
  height: 35px;
  background: url("../images/v204_259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 361px;
  overflow: hidden;
}
.v204_260 {
  width: 35px;
  height: 35px;
  background: url("../images/v204_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 456px;
  overflow: hidden;
}
.v204_261 {
  width: 131px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 245px;
  left: 276px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v204_262 {
  width: 893px;
  height: 450px;
  background: rgba(251,227,232,0.5600000023841858);
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 175px;
}
.v204_263 {
  width: 266px;
  height: 63px;
  background: url("../images/v204_263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 751px;
  overflow: hidden;
}
.v204_291 {
  width: 525px;
  height: 54px;
  background: url("../images/v204_291.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 344px;
  left: 214px;
  overflow: hidden;
}
.v204_290 {
  width: 808px;
  height: 79px;
  background: url("../images/v204_290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 418px;
  left: 214px;
  overflow: hidden;
}
.v204_292 {
  width: 250px;
  height: 40px;
  background: url("../images/v204_292.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 513px;
  overflow: hidden;
}
.v204_269 {
  width: 70px;
  height: 70px;
  background: url("../images/v204_269.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 216px;
  overflow: hidden;
}
